body {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
  /* background-color: whitesmoke; */
}
* {
  box-sizing: content-box;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  list-style-type: none;
  margin-left: 20px;
}
nav ul li a {
  margin-right: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #7a73ff;
}
nav ul li a:hover {
  color: #0a2540;
  text-decoration: underline;
}
.page-container {
  width: 80%;
  margin: 10px auto;
  /* background-color: white; */
  padding: 30px;
}
.product-listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-listing .product-list-item {
  margin: 10px 30px;
  flex: 1 0 21%;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 13px 3px rgba(209, 194, 209, 0.71);
  -moz-box-shadow: 10px 10px 13px 3px rgba(209, 194, 209, 0.71);
  box-shadow: 10px 10px 13px 3px rgba(209, 194, 209, 0.71);
  width: 200px;
}
.description,
.price {
  margin-left: 10px;
  margin-right: 10px;
}
.items-added {
  color: white;
  background-color: #7a73ff;
  margin-left: 2px;
  /* margin-right: 3px; */
  border-radius: 50%;
  font-size: 1.25em;
  padding: 1px 1px 1px 1px;
}
.add-btn {
  margin-left: 10px;
  margin-top: 10px;
}
.total-added {
  color: #7a73ff;
  margin-left: 4px;
}
